
.path {
    z-index: 1;
    
    background:#F7F8FA;
    display: flex;
    justify-content: center;
}
.path ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    align-self: right;
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 45px;
}

.path ul li {
    font-size: .8em;
    padding: 0 10px;
    color: #686F7A;
    height: 100%;
    display: flex;
    align-items: center;
}

.path ul li.link:hover {
    background: #E8E9EB;
    cursor: pointer;
}

.path ul li.root {
    font-weight: bold;
}
