@import url('/fonts/OpenSans/OpenSans.css');
@import url('../fonts/UdemyIcons/UdemyIcons.css');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    opacity: .1;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}